Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
T_*.uasset
*_Tex.usset
Content/Environments/Trees/Tree_Stump_01/D_*.uasset
Content/Environments/Cliffs
Content/Environments/Foliage
Content/Environments/GroundTiles
Content/Environments/Material
Content/Environments/Textures
Content/Environments/Cliffs
Content/KiteDemo
Content/StarterContent
